@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
	font-size: 62.5%;
}
body{	
    font-family: 'UnDotum';
	font-size: 1.6rem; 
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul li a,a{
	text-decoration: none;
}


/*======================  Start Page  ======================*/

.menu a ,
.logo a { 
	font-size: 10px;
	font-weight: 400;
	line-height: 12.13px; 
	color: #686868;
}

.menu ul,
.logo ul {
	display: flex;
	align-items: center;
	gap: 15px;
}

.menu ul {
	justify-content: flex-end;
}

.header_area {
	padding: 10px 0;
}

.menu span,
.logo span {
	width: 1px;
	height: 15px;
	background: #686868;
	display: block;
} 

.banner_area {
	background: url(../images/banner.png) no-repeat scroll center center / cover;
}

.banner_menu ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.banner_menu{
	padding: 68px 0 62px 0;
}


.banner_left_box {
	display: flex;
	gap: 0; 
	height: 404px;
	overflow: hidden;
}

.banner_form_img img {
	width: 100%;
}

.form_banner {
	padding: 13px 9px;
	background: #F3EFEF;
}

.form_group input {
	background: #fff;
	border: 1px solid #ddd;
	width: 100%; 
	font-size: 12px;
	font-weight: 400;
	line-height: 14.56px; 
	padding: 6px; 
	color: #BABABA;
}

.form_banner form {
	margin-bottom: 8px;
}


.form_btn button {
	border: none;
	background: transparent;
}

.form_btn button img{
	width: 100%;
}

.banner_form_pra > p { 
	font-size: 11px;
	font-weight: 400;
	line-height: 13.34px;
	text-align: center; 
	color: #847F7F;
	margin: 6px 0;
}

.banner_form_check {
	text-align: right;
	margin-bottom: 7px;
}

.banner_form_social p { 
	font-size: 11px;
	font-weight: 400;
	line-height: 13.34px; 
	color: #928F8F;
}

.banner_form_social {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 8px;
	background: #DEDDDD;
	border-radius: 1px;
}

.banner_form_social ul {
	display: flex;
	gap: 8px;
}

.banner_last{
	margin-top: 22px;
}

.single_banner_3 img{
	width: 100%;
}

.banner_tabs .nav-item .nav-link {
	width: 106px;
	text-align: center;
	height: 49px;
	border: 1px solid #ddd; 
	font-size: 11px;
	font-weight: 400;
	line-height: 13.34px; 
	color: #5A5A5A;
}

.banner_tabs .nav-tabs .nav-item.show .nav-link, .banner_tabs .nav-tabs .nav-link.active {
	color: #fff;
	background-color: #D60000;
	border-color: #dee2e6 #dee2e6 #fff;
}

.tabs_content_item {
	padding: 6px;
	box-sizing: border-box;
}

.tabs_content_item p { 
	font-size: 11px;
	font-weight: 400;
	line-height: 13.34px; 
	margin-top: 18px;
	color: #A1A1A1;
}

.banner_3_title{
	margin-bottom: 11px;
}

.single_banner_3_form [type="radio"]:checked,
.single_banner_3_form [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.single_banner_3_form [type="radio"]:checked + label, .single_banner_3_form [type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer; 
	font-family: "Inter", sans-serif; 
	font-size: 9px;
	font-weight: 400;
	line-height: 10.89px; 
	color: #000;
}
.single_banner_3_form [type="radio"]:checked + label:before,
.single_banner_3_form [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.single_banner_3_form [type="radio"]:checked + label:after,
.single_banner_3_form [type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #3F42FF;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.single_banner_3_form [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.single_banner_3_form [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.form_radio {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 13px 0;
	gap: 25px;
}

.form_row{
	width:  100%;
	max-width: 250px;
	margin: 0 auto;
}

.single_banner_3.single_banner_heigt img {
	height: 256px;
}

.form_row{
	margin-top: 25px;
}

.market_area{
	margin-top: 17px;
}

.market_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 11px;
}

.market_menu ul li a { 
	font-size: 12px;
	font-weight: 400;
	line-height: 14.56px; 
	color: #7E7E7E;
}

.market_menu ul li a.active {
	color: #AD0000;
}

.market_menu ul li span {
	width: 1px;
	height: 45px;
	display: block;
	background-color: #ddd;
}

.market_menu ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.market_menu {
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}


.market_single p { 
	font-size: 12px;
	font-weight: 400;
	line-height: 14.56px; 
	color: #7E7E7E;
	margin-top: 25px;
}

.market_product {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.market_box {
	background: #F4F4F4;
	padding: 0 50px 12px 50px;
}

.content_area img{
	width: 100%;
}

.book_area{
	margin-top: 34px;
}

.book_img_box {
	display: flex;
	gap: 1px;
	flex-wrap: wrap;
}

.single_book_img{
	flex: 0 0 calc(100% / 2 - 1px);
}

.single_book_img img{
	width: 100%;
}

.book_3rd_img img {
	width: 100%;
	margin-bottom: 6px;
}

.tabs_table img {
	width: 100%;
	height: 180px;
	margin-top: 1px;
}

.footer_content a,
.footer_content p { 
	font-size: 8px;
	font-weight: 400;
	line-height: 9.7px; 
	color: #838383;
}

.footer_left {
	display: flex;
	align-items: flex-start;
	gap: 17px;
}

.footer_area {
	margin: 58px 0 6px 0;
}

.footer {
	padding: 24px 19px 47px 19px;
	background: #F5F5F5;
	border: 1px solid #CBCBCB;
	border-radius: 4px;
}

.book_area #myTab {
	background: #E8E8E8;
}

.btn_1{
	padding: 3px 7px;
}

.btn_1 {
	padding: 3px 7px;
	border: 1px solid #D3D3D3;
}

.footer_content a:hover,
.footer_link{
	color: #FF2626 !important;
}






/*======================  End Page  ======================*/
/* 

font-family: "Inter", sans-serif;

 */
